@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Montserrat:wght@200;300;400&display=swap');

body {
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px 0;
  margin: 0px;
  height: 300px;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.subtitle {
  font-size: 24px;
  text-shadow: 1px 1px 2px black;
}

.banner h1 {
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  color: #a0a0a0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

a {
  background-color: lightcyan;
  color: lightslategrey;
  text-decoration: none;
  font-style: italic;
  font-size: 24px;
}

a:hover {
  background-color:mediumturquoise;
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .banner h1 {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .banner h1 {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
  }
}
